<nav class="navbar navbar-expand-lg bg-info text-white">
    <a class="navbar-brand text-white" routerLink="">Acme</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" routerLink="vehiculo">Vehiculos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="conductor">Conductores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="propietario">Propietarios</a>
            </li>
        </ul>
    </div>
</nav>