<div class="card">
    <div class="card-body">
        <h1 class="text-center">¿Que deseas hacer?</h1>
        <div class="w-100 d-flex justify-content-around mt-5">
            <button class = "btn btn-success" routerLink="vehiculo">Ver vehiculos</button>
            <button class = "btn btn-primary" routerLink="propietario">Ver propietarios</button>
            <button class = "btn btn-info" routerLink="conductor">Ver conductores</button>
        </div>
    </div>
</div>