<app-navbar></app-navbar>

<div class="container">
  <hr>
  <div class="row">
    <div class="col mt-2 mb-2">
      <div class="col-md-8 mx-auto"></div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>