<form (ngSubmit) = "insertData()" novalidate >
    <div class="from-group">
        <label for="">Número cedula</label>
        <input type="number" name="numeroCedula" class="form-control" [(ngModel)] = "conductores.numeroCedula" placeholder="Ingrese el numero de cedula del conductor">
    </div>
    <div class="from-group mt-2">
        <label for="">Primer nombre</label>
        <input type="text" name="primerNombre" class="form-control" [(ngModel)] = "conductores.primerNombre" placeholder="Ingrese el primer del conductor">
    </div>
    <div class="from-group mt-2">
        <label for="">Segundo nombre</label>
        <input type="text" name="segundoNombre" class="form-control" [(ngModel)] = "conductores.segundoNombre" placeholder="Ingrese el segundo nombre del conductor">
    </div>
    <div class="from-group mt-2">
        <label for="">Apellidos</label>
        <input type="text" name="apellidos" class="form-control" [(ngModel)] = "conductores.apellidos" placeholder="Ingrese los apellidos del conductor">
    </div>
    <div class="from-group mt-2">
        <label for="">Dirección</label>
        <input type="text" name="direccion" class="form-control" [(ngModel)] = "conductores.direccion" placeholder="Ingrese la direccion del conductor">
    </div>
    <div class="from-group mt-2">
        <label for="">Telefono</label>
        <input type="text" name="telefono" class="form-control" [(ngModel)] = "conductores.telefono" placeholder="Ingrese el telefono del conductor">
    </div>
    <div class="from-group mt-2">
        <label for="">Ciudad</label>
        <input type="text" name="ciudad" class="form-control" [(ngModel)] = "conductores.ciudad" placeholder="Ingrese la ciudad del conductor">
    </div>
    <div class="from-group mt-2">
        <button class="btn btn-success">Guardar</button>
    </div>
</form>
<div class="table-responsive mt-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">N° cedula</th>
                <th scope="col">Primer nombre</th>
                <th scope="col">Segundo nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Dirección</th>
                <th scope="col">Telefono</th>
                <th scope="col">Ciudad</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let conductores of conductor">
                <td scope="row">{{ conductores.id }}</td>
                <td scope="row">{{ conductores.numeroCedula }}</td>
                <td scope="row">{{ conductores.primerNombre }}</td>
                <td scope="row">{{ conductores.segundoNombre }}</td>
                <td scope="row">{{ conductores.apellidos }}</td>
                <td scope="row">{{ conductores.direccion }}</td>
                <td scope="row">{{ conductores.telefono }}</td>
                <td scope="row">{{ conductores.ciudad }}</td>
                <td scope="row">
                    <button class="btn btn-sm btn-primary m-1" routerLink="edit/{{ conductores.id }}">Editar</button>
                    <button class="btn btn-sm btn-danger m-1" (click) = "deleteData(conductores.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>