<form (ngSubmit) = "insertData()">
    <div class="from-group">
        <label for="">Placa</label>
        <input type="text" name="placa" class="form-control" [(ngModel)] = "vehiculos.placa" placeholder="AAA-000">
    </div>
    <div class="from-group mt-2">
        <label for="">Color</label>
        <input type="text" name="color" class="form-control" [(ngModel)] = "vehiculos.color" placeholder="Ingrese el color del vehiculo">
    </div>
    <div class="from-group mt-2">
        <label for="">Marca</label>
        <input type="text" name="marca" class="form-control" [(ngModel)] = "vehiculos.marca" placeholder="Ingrese la marca del vehiculo">
    </div>
    <div class="from-group mt-2">
        <label for="">Tipo de vehiculo</label>
        <select name="tipoVehiculo" class="form-control" id="" [(ngModel)] = "vehiculos.tipoVehiculo">
            <option value="Particular" selected>Particular</option>
            <option value="Publico">Publico</option>
        </select>
    </div>
    <div class="from-group mt-2">
        <label for="">Conductor</label>
        <select name="conductor_id" class="form-control" id="" [(ngModel)] = "vehiculos.conductor_id">
            <option value="" selected>Seleccione una opción</option>
            <option *ngFor = "let conductores of conductor" value="{{ conductores.id }}">{{ conductores.primerNombre }} {{ conductores.segundoNombre }} {{ conductores.apellidos }}</option>
        </select>
    </div>
    <div class="from-group mt-2">
        <label for="">Propietario</label>
        <select name="propietario_id" class="form-control" id="" [(ngModel)] = "vehiculos.propietario_id">
            <option value="">Seleccione una opción</option>
            <option *ngFor = "let propietarios of propietario" value="{{ propietarios.id }}">{{ propietarios.primerNombre }} {{ propietarios.segundoNombre }} {{ propietarios.apellidos }}</option>
        </select>
    </div>
    <div class="from-group mt-2">
        <button class="btn btn-success">Guardar</button>
    </div>
</form>
<div class="table-responsive mt-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Placa</th>
                <th scope="col">Color</th>
                <th scope="col">Marca</th>
                <th scope="col">Tipo de vehiculo</th>
                <th scope="col">Conductor</th>
                <th scope="col">Propietario</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let vehiculos of vehiculo">
                <td scope="row">{{ vehiculos.id }}</td>
                <td scope="row">{{ vehiculos.placa }}</td>
                <td scope="row">{{ vehiculos.color }}</td>
                <td scope="row">{{ vehiculos.marca }}</td>
                <td scope="row">{{ vehiculos.tipoVehiculo }}</td>
                <td scope="row">{{ vehiculos.nombreConductor }}</td>
                <td scope="row">{{ vehiculos.nombrePropietario }}</td>
                <td scope="row">
                    <button class="btn btn-sm btn-primary m-1" routerLink="edit/{{ vehiculos.id }}">Editar</button>
                    <button class="btn btn-sm btn-danger m-1" (click) = "deleteData(vehiculos.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>