<form (ngSubmit) = "updateVehiculo()">
    <div class="from-group">
        <label for="">Placa</label>
        <input type="text" name="placa" class="form-control" [(ngModel)] = "vehiculos.placa">
    </div>
    <div class="from-group mt-2">
        <label for="">Color</label>
        <input type="text" name="color" class="form-control" [(ngModel)] = "vehiculos.color">
    </div>
    <div class="from-group mt-2">
        <label for="">Marca</label>
        <input type="text" name="marca" class="form-control" [(ngModel)] = "vehiculos.marca">
    </div>
    <div class="from-group mt-2">
        <label for="">Tipo de vehiculo</label>
        <select name="tipoVehiculo" class="form-control" id="" [(ngModel)] = "vehiculos.tipoVehiculo">
            <option value="Particular" selected>Particular</option>
            <option value="Publico" selected>Publico</option>
        </select>
    </div>
    <div class="from-group mt-2">
        <label for="">Conductor</label>
        <select name="conductor_id" class="form-control" id="" [(ngModel)] = "vehiculos.conductor_id">
            <option value="" selected>Seleccione una opción</option>
            <option *ngFor = "let conductores of conductor" value="{{ conductores.id }}">{{ conductores.primerNombre }} {{ conductores.segundoNombre }} {{ conductores.apellidos }}</option>
        </select>
    </div>
    <div class="from-group mt-2">
        <label for="">Propietario</label>
        <select name="propietario_id" class="form-control" id="" [(ngModel)] = "vehiculos.propietario_id">
            <option value="">Seleccione una opción</option>
            <option *ngFor = "let propietarios of propietario" value="{{ propietarios.id }}">{{ propietarios.primerNombre }} {{ propietarios.segundoNombre }} {{ propietarios.apellidos }}</option>
        </select>
    </div>
    <div class="from-group mt-2">
        <button class="btn btn-primary">Actualizar</button>
    </div>
</form>