<form (ngSubmit) = "updatePropietario()">
    <div class="from-group">
        <label for="">Número cedula</label>
        <input type="number" name="numeroCedula" class="form-control" [(ngModel)] = "conductores.numeroCedula">
    </div>
    <div class="from-group mt-2">
        <label for="">Primer nombre</label>
        <input type="text" name="primerNombre" class="form-control" [(ngModel)] = "conductores.primerNombre">
    </div>
    <div class="from-group mt-2">
        <label for="">Segundo nombre</label>
        <input type="text" name="segundoNombre" class="form-control" [(ngModel)] = "conductores.segundoNombre">
    </div>
    <div class="from-group mt-2">
        <label for="">Apellidos</label>
        <input type="text" name="apellidos" class="form-control" [(ngModel)] = "conductores.apellidos">
    </div>
    <div class="from-group mt-2">
        <label for="">Dirección</label>
        <input type="text" name="direccion" class="form-control" [(ngModel)] = "conductores.direccion">
    </div>
    <div class="from-group mt-2">
        <label for="">Telefono</label>
        <input type="text" name="telefono" class="form-control" [(ngModel)] = "conductores.telefono">
    </div>
    <div class="from-group mt-2">
        <label for="">Ciudad</label>
        <input type="text" name="ciudad" class="form-control" [(ngModel)] = "conductores.ciudad">
    </div>
    <div class="from-group mt-2">
        <button class="btn btn-primary">Actualizar</button>
    </div>
</form>