<form (ngSubmit) = "insertData()">
    <div class="from-group">
        <label for="">Número cedula</label>
        <input type="number" name="numeroCedula" class="form-control" [(ngModel)] = "propietarios.numeroCedula" placeholder="Ingrese el numero de cedula del propietario">
    </div>
    <div class="from-group mt-2">
        <label for="">Primer nombre</label>
        <input type="text" name="primerNombre" class="form-control" [(ngModel)] = "propietarios.primerNombre" placeholder="Ingrese el primer nombre del propietario">
    </div>
    <div class="from-group mt-2">
        <label for="">Segundo nombre</label>
        <input type="text" name="segundoNombre" class="form-control" [(ngModel)] = "propietarios.segundoNombre" placeholder="Ingrese el segundo nombre del propietario">
    </div>
    <div class="from-group mt-2">
        <label for="">Apellidos</label>
        <input type="text" name="apellidos" class="form-control" [(ngModel)] = "propietarios.apellidos" placeholder="Ingrese los apellidos del propietario">
    </div>
    <div class="from-group mt-2">
        <label for="">Dirección</label>
        <input type="text" name="direccion" class="form-control" [(ngModel)] = "propietarios.direccion" placeholder="Ingrese la dirección del propietario">
    </div>
    <div class="from-group mt-2">
        <label for="">Telefono</label>
        <input type="text" name="telefono" class="form-control" [(ngModel)] = "propietarios.telefono" placeholder="Ingrese el telefono del propietario">
    </div>
    <div class="from-group mt-2">
        <label for="">Ciudad</label>
        <input type="text" name="ciudad" class="form-control" [(ngModel)] = "propietarios.ciudad" placeholder="Ingrese la ciudad del propietario">
    </div>
    <div class="from-group mt-2">
        <button class="btn btn-success">Guardar</button>
    </div>
</form>
<div class="table-responsive mt-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">N° cedula</th>
                <th scope="col">Primer nombre</th>
                <th scope="col">Segundo nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Dirección</th>
                <th scope="col">Telefono</th>
                <th scope="col">Ciudad</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let prop of propietario">
                <td scope="row">{{ prop.id }}</td>
                <td scope="row">{{ prop.numeroCedula }}</td>
                <td scope="row">{{ prop.primerNombre }}</td>
                <td scope="row">{{ prop.segundoNombre }}</td>
                <td scope="row">{{ prop.apellidos }}</td>
                <td scope="row">{{ prop.direccion }}</td>
                <td scope="row">{{ prop.telefono }}</td>
                <td scope="row">{{ prop.ciudad }}</td>
                <td scope="row">
                    <button class="btn btn-sm btn-primary m-1" routerLink="edit/{{ prop.id }}">Editar</button>
                    <button class="btn btn-sm btn-danger m-1" (click) = "deleteData(prop.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>